---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import type { ImageMetadata } from 'astro';

import SectionLink from '@/components/SectionLink.astro';
import chirperThumbnail from '@/assets/chirper.png';
import chirperLogo from '@/assets/chirper-logo.png';
import type { Technology } from '@/lib/types';

type Project = {
  name: string;
  description: string;
  logo?: {
    name: ImageMetadata | string;
    classes?: string;
  };
  thumbnail?: ImageMetadata;
  techStack: Technology[];
  features: string[];
  url: string;
  repo: string;
};

const projects: Project[] = [
  {
    name: 'Chirper',
    logo: { name: chirperLogo, classes: 'text-teal-500' },
    description:
      'Social media web application inspired by Twitter. Create posts, follow others and explore with a variety of features like infinite scrolling and search filtering',
    techStack: [
      { name: 'React', logo: 'logos:react' },
      { name: 'TanStack Query', logo: 'logos:react-query-icon' },
      { name: 'TanStack Router', logo: 'logos:react-query-icon' },
      { name: 'TypeScript', logo: 'logos:typescript-icon' },
      { name: 'Sass', logo: 'logos:sass' },
      { name: 'React Hook Form', logo: 'logos:react' },
      { name: 'React Hot Toast', logo: 'logos:react' },
      { name: 'Webpack', logo: 'logos:webpack' },
      { name: 'SWC', logo: 'logos:swc' },
      { name: 'Zod', logo: 'logos:zod' },
      { name: 'Node.js', logo: 'logos:nodejs-icon' },
      { name: 'Express', logo: 'simple-icons:express' },
      { name: 'MongoDB', logo: 'logos:mongodb-icon' },
      { name: 'Mongoose.js', logo: 'simple-icons:mongoose' },
      { name: 'JWT', logo: 'logos:jwt-icon' },
    ],
    features: [
      'Post, like, delete and reply to Chirps',
      'Manage user accounts - create, edit, and follow',
      'Scrollable feed with infinite scrolling',
      'Explore all Chirps and filter results on the search page',
      'View created or liked Chirps',
      'Responsive design with light/dark mode',
      'Notifications and data caching with optimistic updates',
      'Authentication and authorization',
      'Client and server-side validation',
    ],
    repo: 'https://github.com/bartosztrusinski/chirper',
    url: '#',
    thumbnail: chirperThumbnail,
  },
  {
    name: 'Basic Auth',
    description:
      'Secure, extensible and ready-to-use auth solution for Next.js, built from scratch with emphasis on security and best practices',
    techStack: [
      { name: 'Next.js', logo: 'logos:nextjs-icon' },
      { name: 'React', logo: 'logos:react' },
      { name: 'TypeScript', logo: 'logos:typescript-icon' },
      { name: 'Tailwind CSS', logo: 'logos:tailwindcss-icon' },
      { name: 'Drizzle ORM', logo: 'logos:react' },
      { name: 'PostgreSQL', logo: 'logos:postgresql' },
      { name: 'Resend', logo: 'logos:react' },
      { name: 'React Email', logo: 'logos:react' },
      { name: 'Zod', logo: 'logos:zod' },
      { name: 'otpauth', logo: 'logos:react' },
      { name: 'Argon2', logo: 'logos:react' },
    ],
    features: [
      'Credential-based Login & OAuth 2.0 (Google, GitHub, Discord)',
      'Sign Up with mandatory email verification',
      'Secure, cookie-based session management',
      'Middleware-protected routes and Role-Based Access Control (RBAC)',
      'Two-Factor Authentication (TOTP) with QR code setup and backup codes',
      'Optimal and secure Database with Pepper, Argon2 hashing, AES-256-GCM encryption, prepared statements and transactions',
      'Log Out Everywhere to invalidate all active sessions',
      'Modern email templates with React Email',
    ],
    url: '',
    repo: 'https://github.com/bartosztrusinski/basic-auth',
  },
  {
    name: 'Yelp Camp',
    description:
      'Campsite sharing web app. Discover, review, and share campgrounds with a global community',
    techStack: [
      { name: 'EJS', logo: 'logos:react' },
      { name: 'Node.js', logo: 'logos:react' },
      { name: 'Express.js', logo: 'logos:react' },
      { name: 'MongoDB', logo: 'logos:react' },
      { name: 'Mongoose.js', logo: 'logos:react' },
      { name: 'Redis', logo: 'logos:react' },
      { name: 'Joi', logo: 'logos:react' },
      { name: 'Bootstrap', logo: 'logos:react' },
      { name: 'Cloudinary', logo: 'logos:react' },
      { name: 'Resend', logo: 'logos:react' },
      { name: 'Passport', logo: 'logos:react' },
      { name: 'date-fns', logo: 'logos:react' },
      { name: 'Multer', logo: 'logos:react' },
    ],
    features: [
      'Create, edit, and delete campgrounds',
      'Create, edit, and delete user accounts',
      'Campground reviews with rating system',
      'User profiles displaying their campgrounds',
      'Detailed campground pages with map, reviews, and up to 3 images',
      'World map with all campground locations',
      'Pagination and responsive design',
      'User account email verification and password reset',
      'Contact form with email sending',
      'Authentication and authorization',
      'Input validation, sanitization, and data encryption',
      'Brute force prevention',
    ],
    url: '',
    repo: 'https://github.com/bartosztrusinski/yelp-camp',
  },
];
---

<section id='projects' class='full-width slide-up'>
  <h2 class='text-2xl font-bold'>
    <SectionLink sectionId='projects'>Projects</SectionLink>
  </h2>
  <p>
    Take a look at some of the projects I've worked on. They showcase my skills and passion for
    building functional and user-friendly applications
  </p>

  <div class='breakout mt-10 grid gap-x-6 gap-y-10 sm:grid-cols-2 md:grid-cols-3'>
    {
      projects.map((project) => (
        <article class='mx-auto flex max-w-80 flex-col gap-2 sm:max-w-full'>
          <h3 class='flex items-center gap-1 px-1 text-lg font-semibold'>
            {project.logo && typeof project.logo.name === 'string' && (
              <Icon name={project.logo.name} class={`inline size-5 ${project.logo.classes}`} />
            )}
            {project.logo && typeof project.logo.name !== 'string' && (
              <Image
                src={project.logo.name}
                alt={`${project.name} logo`}
                class={`inline size-6 ${project.logo.classes}`}
              />
            )}
            {project.name}
          </h3>
          <a
            href={project.url}
            class='rounded outline-2 outline-offset-4 outline-primary transition-transform duration-300 hover:scale-105 focus-visible:outline'>
            <Image
              src={project.thumbnail || chirperThumbnail}
              alt={`${project.name} web app thumbnail`}
              class='aspect-video w-full rounded object-cover object-top shadow-md'
            />
          </a>
          <p class='p-1'>{project.description}</p>
          <section>
            <details open>
              <summary class='cursor-pointer px-1 outline-2 outline-offset-2 outline-primary marker:text-primary focus-visible:outline'>
                <h4 class='inline font-semibold'>Tech Stack</h4>
              </summary>
              <ul class='flex flex-wrap gap-1 py-2 pl-4 text-sm' role='list'>
                {project.techStack.map((technology) => (
                  <li class='flex items-center gap-1 rounded border border-solid bg-slate-50 px-2 py-1 shadow'>
                    <Icon name={technology.logo} class='max-w-5' />
                    {technology.name}
                  </li>
                ))}
              </ul>
            </details>
          </section>
          <section>
            <details open>
              <summary class='cursor-pointer px-1 outline-2 outline-offset-2 outline-primary marker:text-primary focus-visible:outline'>
                <h4 class='inline font-semibold'>Features</h4>
              </summary>
              <ul class='py-2 pl-2 font-light'>
                {project.features.map((feature) => (
                  <li class='flex'>
                    <Icon name='lucide:dot' class='inline size-5 shrink-0 stroke-2' />
                    {feature}
                  </li>
                ))}
              </ul>
            </details>
          </section>
          <section class='mt-2 flex gap-2'>
            <a
              href={project.url}
              target='_blank'
              class='flex grow items-center justify-center gap-1 rounded bg-primary p-2 text-center font-semibold outline-offset-2'>
              <Icon name='lucide:square-arrow-out-up-right' size={18} />
              Visit
            </a>
            <a
              href={project.repo}
              target='_blank'
              class='flex grow items-center justify-center gap-1 rounded bg-primary p-2 text-center font-semibold outline-offset-2'>
              <Icon name='lucide:github' size={18} />
              Repo
            </a>
          </section>
        </article>
      ))
    }
  </div>
</section>
