---
import Wrapper from '@/components/Wrapper.astro';

type Project = {
  name: string;
  description: string;
  thumbnail: string;
  techStack: string[];
  features: string[];
  url: string;
  repo: string;
};

const projects: Project[] = [
  {
    name: 'Chirper',
    description:
      'A full-stack social media application based on Twitter. Users can create posts, follow others, and interact with a variety of features like infinite scrolling and search filtering.',
    techStack: ['React', 'Node.js', 'Express', 'MongoDB'],
    features: ['Infinite Scrolling', 'Search Filtering'],
    repo: '#',
    url: '#',
    thumbnail: '#',
  },
  {
    name: 'Your Project Name',
    description:
      'Brief description of your project goes here. Mention the technology stack used and any standout features.',
    techStack: ['Tech 1', 'Tech 2'],
    features: ['Feature 1', 'Feature 2'],
    repo: '#',
    url: '#',
    thumbnail: '#',
  },
  {
    name: 'Your Project Name',
    description:
      'Brief description of your project goes here. Mention the technology stack used and any standout features.',
    techStack: ['Tech 1', 'Tech 2'],
    features: ['Feature 1', 'Feature 2'],
    repo: '#',
    url: '#',
    thumbnail: '#',
  },
];
---

<section id='projects'>
  <Wrapper className='gap-2'>
    <h2 class='text-2xl font-bold'>Projects</h2>
    <p>
      Check out some of the projects I've worked on. They showcase my skills and passion for
      building functional and user-friendly applications:
    </p>

    <div class='mt-4 grid grid-cols-2 gap-10'>
      {
        projects.map((project, index) => (
          <article class='flex flex-col gap-2'>
            <h3 class='px-1 text-lg font-semibold'>{project.name}</h3>
            <a
              href={project.url}
              class='rounded outline-2 outline-offset-4 outline-primary transition-transform duration-300 hover:scale-105 focus-visible:outline'>
              <img
                src={`https://picsum.photos/seed/${index + 12}/300/200`}
                alt={`${project.name} web app screenshot`}
                class='max-h-40 w-full rounded object-cover shadow-md'
              />
            </a>
            <p class='text-balance px-1 text-justify'>{project.description}</p>
            <section>
              <details>
                <summary class='cursor-pointer px-1 outline-2 outline-offset-2 outline-primary marker:text-primary focus-visible:outline'>
                  <h4 class='inline font-semibold'>Tech Stack</h4>
                </summary>
                <ul class='flex flex-wrap gap-2 pl-4 pt-2 text-sm' role='list'>
                  {project.techStack.map((tech) => (
                    <li class='rounded border border-solid px-2 py-1 shadow'>{tech}</li>
                  ))}
                </ul>
              </details>
            </section>
            <section>
              <details>
                <summary class='cursor-pointer px-1 outline-2 outline-offset-2 outline-primary marker:text-primary focus-visible:outline'>
                  <h4 class='inline font-semibold'>Features</h4>
                </summary>
                <ul class='list-inside list-disc pl-4 pt-1 marker:text-primary'>
                  {project.features.map((feature) => (
                    <li>{feature}</li>
                  ))}
                </ul>
              </details>
            </section>
            <section class='mt-2 flex gap-2'>
              <a
                href={project.repo}
                class='grow rounded bg-primary py-1 text-center font-semibold outline-offset-2'>
                Repo
              </a>
              <a
                href={project.url}
                class='grow rounded bg-primary py-1 text-center font-semibold outline-offset-2'>
                Live
              </a>
            </section>
          </article>
        ))
      }
    </div>
  </Wrapper>
</section>
