---
import { Picture } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import type { Project } from '@/content.config';
import { technologies } from '@/data/technologies';

type Props = Project;

const project = Astro.props;
---

<article class='flex flex-col gap-2'>
  <h3 class='flex items-center gap-1 px-1 text-lg font-semibold'>
    {
      project.logo && (
        <Picture
          src={project.logo}
          alt={`${project.name} logo`}
          widths={[20, 24, 30, 36]}
          sizes='1.25rem'
          formats={['avif', 'webp']}
          class='inline size-5'
        />
      )
    }
    {project.name}
  </h3>
  {
    project.url ?
      <a
        href={project.url}
        target='_blank'
        rel='noopener noreferrer'
        class='link-primary rounded-sm shadow-md transition-[transform,scale,box-shadow] duration-300 ease-out hover:shadow-xl focus-visible:outline-[6px] motion-safe:hover:scale-105'>
        <Picture
          src={project.thumbnail}
          alt={`${project.name} app thumbnail`}
          widths={[300, 334, 380, 500, 610, 750, 900]}
          sizes='(width >= 64rem) 334px, (width >= 40rem) 46vw, 90vw'
          formats={['avif', 'webp']}
          position='top'
          class='aspect-video rounded-sm'
        />
      </a>
    : <Picture
        src={project.thumbnail}
        alt={`${project.name} app thumbnail`}
        widths={[300, 334, 380, 500, 610, 750, 900]}
        sizes='(width >= 64rem) 334px, (width >= 40rem) 46vw, 90vw'
        formats={['avif', 'webp']}
        position='top'
        class='aspect-video rounded-sm shadow-md'
      />
  }
  <p class='p-1'>{project.description}</p>
  <section>
    <details class='details-transition'>
      <summary class='link-primary marker:text-primary cursor-pointer px-1'>
        <h4 class='inline font-semibold'>Tech Stack</h4>
      </summary>
      <ul class='flex flex-wrap gap-1 pt-2 pb-1 pl-4 text-sm'>
        {
          project.techStack.map((technologyKey) => {
            const technology = technologies[technologyKey];

            return (
              <li class='flex items-center gap-1 rounded-sm border border-slate-200 bg-slate-50 px-2 py-1 shadow-sm'>
                <Icon
                  name={technology.logo}
                  class:list={['min-h-4 max-w-5 min-w-4', technology.class]}
                />
                {technology.name}
              </li>
            );
          })
        }
      </ul>
    </details>
  </section>
  <section>
    <details class='details-transition'>
      <summary class='link-primary marker:text-primary cursor-pointer px-1'>
        <h4 class='inline font-semibold'>Features</h4>
      </summary>
      <ul class='py-1 pl-2 font-light'>
        {
          project.features.map((feature) => (
            <li class='flex'>
              <Icon name='lucide:dot' class='size-5.5 shrink-0 stroke-2' />
              {feature}
            </li>
          ))
        }
      </ul>
    </details>
  </section>
  <div class='mt-1 flex gap-2'>
    {
      project.url && (
        <a
          href={project.url}
          target='_blank'
          rel='noopener noreferrer'
          class='btn-primary flex grow basis-1/2 items-center justify-center gap-1'>
          <Icon name='lucide:square-arrow-out-up-right' size={18} />
          Visit
        </a>
      )
    }
    <a
      href={project.repo}
      target='_blank'
      rel='noopener noreferrer'
      class='btn-primary flex grow basis-1/2 items-center justify-center gap-1'>
      <Icon name='lucide:github' size={18} />Repo</a
    >
  </div>
</article>
