---
import { Icon } from 'astro-icon/components';

import type { Technology } from '@/lib/types';

type Project = {
  name: string;
  description: string;
  thumbnail: string;
  techStack: Technology[];
  features: string[];
  url: string;
  repo: string;
};

const projects: Project[] = [
  {
    name: 'Chirper',
    description:
      'A full-stack social media application based on Twitter. Users can create posts, follow others, and interact with a variety of features like infinite scrolling and search filtering.',
    techStack: [
      { name: 'React', logo: 'logos:react' },
      { name: 'Node.js', logo: 'logos:nodejs-icon' },
      { name: 'Express', logo: 'simple-icons:express' },
      { name: 'MongoDB', logo: 'logos:mongodb-icon' },
    ],
    features: ['Infinite Scrolling', 'Search Filtering'],
    repo: '#',
    url: '#',
    thumbnail: '#',
  },
  {
    name: 'Your Project Name',
    description:
      'Brief description of your project goes here. Mention the technology stack used and any standout features.',
    techStack: [
      { name: 'Tech 1', logo: 'logos:javascript' },
      { name: 'Tech 2', logo: 'logos:javascript' },
    ],
    features: ['Feature 1', 'Feature 2'],
    repo: '#',
    url: '#',
    thumbnail: '#',
  },
  {
    name: 'Your Project Name',
    description:
      'Brief description of your project goes here. Mention the technology stack used and any standout features.',
    techStack: [
      { name: 'Tech 1', logo: 'logos:javascript' },
      { name: 'Tech 2', logo: 'logos:javascript' },
    ],
    features: ['Feature 1', 'Feature 2'],
    repo: '#',
    url: '#',
    thumbnail: '#',
  },
];
---

<section id='projects' class='full-width'>
  <h2 class='text-2xl font-bold'>Projects</h2>
  <p>
    Take a look at some of the projects I've worked on. They showcase my skills and passion for
    building functional and user-friendly applications
  </p>

  <div class='breakout mt-10 grid gap-x-6 gap-y-10 sm:grid-cols-2 md:grid-cols-3'>
    {
      projects.map((project, index) => (
        <article class='mx-auto flex max-w-80 flex-col gap-2 sm:max-w-full'>
          <h3 class='px-1 text-lg font-semibold'>{project.name}</h3>
          <a
            href={project.url}
            class='rounded outline-2 outline-offset-4 outline-primary transition-transform duration-300 hover:scale-105 focus-visible:outline'>
            <img
              src={`https://picsum.photos/seed/${index + 12}/300/200`}
              alt={`${project.name} web app thumbnail`}
              class='max-h-40 w-full rounded object-cover shadow-md'
            />
          </a>
          <p class='p-1'>{project.description}</p>
          <section>
            <details>
              <summary class='cursor-pointer px-1 outline-2 outline-offset-2 outline-primary marker:text-primary focus-visible:outline'>
                <h4 class='inline font-semibold'>Tech Stack</h4>
              </summary>
              <ul class='flex flex-wrap gap-2 pl-4 pt-2 text-sm' role='list'>
                {project.techStack.map((technology) => (
                  <li class='flex items-center gap-2 rounded border border-solid px-2 py-1 shadow-sm'>
                    <Icon name={technology.logo} class='max-w-5' />
                    {technology.name}
                  </li>
                ))}
              </ul>
            </details>
          </section>
          <section>
            <details>
              <summary class='cursor-pointer px-1 outline-2 outline-offset-2 outline-primary marker:text-primary focus-visible:outline'>
                <h4 class='inline font-semibold'>Features</h4>
              </summary>
              <ul class='list-inside list-disc pl-4 pt-1 marker:text-primary'>
                {project.features.map((feature) => (
                  <li>{feature}</li>
                ))}
              </ul>
            </details>
          </section>
          <section class='mt-2 flex gap-2'>
            <a
              href={project.url}
              class='flex grow items-center justify-center gap-1 rounded bg-primary p-2 text-center font-semibold outline-offset-2'>
              <Icon name='lucide:square-arrow-out-up-right' size={18} />
              Visit
            </a>
            <a
              href={project.repo}
              class='flex grow items-center justify-center gap-1 rounded bg-primary p-2 text-center font-semibold outline-offset-2'>
              <Icon name='lucide:github' size={18} />
              Repo
            </a>
          </section>
        </article>
      ))
    }
  </div>
</section>
